<h2>Manage Phrases here</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere enim quasi dignissimos explicabo ea repellendus assumenda rem dolorum cupiditate voluptatem aliquam, fugit perspiciatis. Itaque, asperiores cupiditate. Eaque officia harum doloremque tempore
  beatae veritatis accusantium pariatur dolor exercitationem fuga quae, expedita perferendis laudantium fugiat quibusdam corrupti nostrum sint consequuntur accusamus natus totam incidunt. Saepe rem deleniti, beatae adipisci commodi voluptates, nam ducimus
  fugiat quis sit eaque placeat molestias necessitatibus nulla autem doloribus inventore blanditiis velit ullam vero repellendus unde nihil cupiditate ipsum! Est, itaque animi. Asperiores excepturi reiciendis nostrum, et molestiae minus odio, cumque aliquid,
  harum pariatur illum perferendis non?</p>